@import './form.scss';

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1, h4 {
    color: #19488d;
}

.options-container {
    margin: 0.05rem;
    padding: 1.5rem;
}

.options-container-m {
    margin: 0.05rem;
    padding: 0.5rem;
    background-color: #e9ecef;
}


 